[Desktop Entry]
Version=1.0
Type=Application
Name=CEN64-Qt
GenericName=CEN64 Frontend
GenericName[ru]=Интерфейс для CEN64
Comment=A customizable cross-platform frontend for CEN64
Comment[ru]=Настраиваемый кроссплатформенный интерфейс для CEN64
Exec=cen64-qt
Icon=cen64-qt
Terminal=false
Categories=Game;Emulator;
Keywords=emulator;cen64;Nintendo;64;
